/* NAVBAR */

#navigazione {
  background: #2c3e50;
  color: #ffffff;
}

.menu {
  display: none;
}

.logo a {
  color: #ffffff;
}

/* HEADER */

#intro {
  background: #1abc9c;
}

h1{
  text-align: center;
  color: #ffffff;
}

.divisore {
  height: 2px;
  background: #ffffff;
}

.sotto-divisore-header {
  color: #ffffff;
  text-align: center;
}

h2 {
  text-align: center;
  color: #2c3e50;
}

#portfolio .divisore {
  background : #2c3e50;
}

.img_portfolio img {
  width: 100%;
  padding: 5%;
  border-radius: 30px;
}
